.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('../img/default.gif');
   background-repeat: no-repeat;
   background-color: #FFF;
   background-position: center;
}
